#TextEditorDiv h1 {
  color: #222;
  padding: 5px 10px;
  margin: 20px 0 10px 0;
  border-bottom: solid 1px #444;
  page-break-before: auto;
  font-size: 125%;
}

#TextEditorDiv h2, h3 {
  color: #333;
  margin: 15px 0 5px 0;
}

#TextEditorDiv div, p {
  margin: 20px 0;
  text-align: justify;
}

#TextEditorDiv ol, ul {
  margin: 0 45px;
}

#TextEditorDiv li {
  margin: 10px 0;
}

#TextEditorDiv code {
  display: block;
  padding: 25px;
  margin: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #00000011;
  color: #eee;
  background-color:#333;
}

#TextEditorDiv note {
  display: block;
  padding: 25px;
  margin: 25px;
  border-radius: 0 20px 0 20px;
  background-color:#eaeaea;
}